@media (min-width: 710px) {
    .skillsWrapper, .homeWrapper, .projectsSectionWrapper, .contactWrapper, .footerInner {
        width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 710px) {
    .skillsWrapper, .homeWrapper, .projectsSectionWrapper, .contactWrapper, .footerInner {
        margin: 0 auto;
        text-align:center;
    }
}

.app {
    width: 100%;
}

section h2 {
    font-size: 32px;
}

.seperator {
    border:1px solid rgba(40,40,40,0.2);
    width:800px;
    margin:40px auto;
}

/* HOME SECTION */
.home {
    background-image: url("../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 710px) {
    .logo {
        width: 300px;
        padding-top: 40px;
    }
}

@media (max-width: 710px) {
    .logo {
        width: 300px;
        padding-top: 40px;
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 710px) {
    .navigation {
        float: right;
        padding-top: 60px;
        margin-right: 10px;
    }

    .navigation a {
        padding: 12px;
        color: black;
        font-size: 24px;
        text-decoration: none;
    }
}

@media (max-width: 710px) {
    .navigation {
        padding-top: 20px;
        margin-right: 10px;
        margin: 0 auto;
        width: 340px;
    }

    .navigation a {
        padding: 12px;
        color: black;
        font-size: 20px;
        text-decoration: none;
    }
}

.introduction {
    padding: 60px 0 90px 0;
    font-size:17px;
}

.websiteBtn {
    padding: 10px;
    background-color: #1874dd;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.btnWrapper {
    margin-top:30px;
}


/* SKILLS SECTION */
@media (min-width: 710px) {
    .skillSector {
        display: inline-block;
        margin-right: 25px;
        margin-bottom: 25px;
    }
}

@media (max-width: 710px) {
    .skillSector {
        display: inline-block;
        margin-bottom: 25px;
    }
}

.skillSector h4 {
    margin:0;
    font-size:18px;
}

.skillSector div {
    display: inline-block;
    width:120px;
    margin-right: 5px;
}

.skillSector div img {
    width: 120px;
}

.skillSectorWrapper {
    text-align:center;
}

/* PROJECT SECTION */

@media (min-width: 710px) {
    .projectsWrapper {
        display: flex;
        justify-content: space-evenly;
    }
}
@media (max-width: 710px) {
    .project:nth-of-type(2) {
        margin-top: 30px;
    }
}

@media (min-width: 710px) {
    .project {
        width: 300px;
        display: inline-block;
    }
    .project img {
        width: 300px;
        max-height: 500px;
    }
}

@media (max-width: 710px) {
    .project {
    }
    .project img {
        width: 300px;
        max-height: 500px;
    }
}

.project b {
    font-size: 18px;
}

.smallProjects {
    margin-top:60px;
}
.smallProject {
    width: 300px;
    display: inline-block;
    font-size:13px;
    vertical-align:top;
}
.smallProject img {
    width: 150px;
}
.project a {
    color: black;
    text-decoration: none;
}

/* CONTACT SECTION */

.links {
    margin-top:20px;
}

/* FOOTER */

.footer {
    background-color:rgb(240, 240, 240);   
    margin-top:30px;
}

.footerInner {
    padding: 20px 0;
}